<%= form_for(justoy) do |f| %>
  <% if justoy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(justoy.errors.count, "error") %> prohibited this justoy from being saved:</h2>

      <ul>
      <% justoy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <p>
    <%= f.label :message %>
    <%= f.text_area :message %>
      </p>
      <p>
    <%= f.label :sender_id %>
    <%= f.text_field :sender_id %>
      </p>
      <p>
    <%= f.label :receiver_id %>
    <%= f.text_field :receiver_id %>
      </p>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
